.App {
  text-align: center;
  position:absolute;
  width: 100%;
  height:100%;
  background-color: #282c34;
}

.App-header {
  margin-top: 8vh;
  color: white;
}

.App-title {
  margin-bottom: 5vh;
  font-size: calc(40px + 2vmin);
}

.App-welcome {
  font-size: calc(10px + 2vmin);
  color: '#e1f5fe';
}

.App-footer {
  height: 10vh;
  background-color: #282c34;
}